/* Sidebar tổng thể */
.MuiDrawer-paper {
    width: 250px;
    /* Đặt chiều rộng cố định */
    overflow-y: auto;
    /* Chỉ hiển thị thanh cuộn dọc */
    overflow-x: hidden;
    /* Loại bỏ thanh cuộn ngang */
    border-right: 1px solid #ddd;
    padding-top: 20px;
    background-color: #fff;
}

/* Item menu */
.MuiListItem-root {
    margin: 10px 15px;
    padding: 10px 15px;
    border-radius: 8px;
    background-color: #f9f9f9;
    text-align: center;
    transition: background-color 0.3s ease;
}

.MuiListItem-root:hover {
    background-color: #f35212;
    color: white;
}

/* Tùy chỉnh thanh cuộn */
.MuiDrawer-root::-webkit-scrollbar {
    width: 6px;
}

.MuiDrawer-root::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 3px;
}